[Desktop Entry]
Encoding=UTF-8
Name=are
Comment=are P2P Cryptocurrency
Exec=are-qt %u
Terminal=false
Type=Application
Icon=are128
MimeType=x-scheme-handler/are;
Categories=Office;Finance;
Name[de_DE]=are.desktop
